<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>玉树临风美少年，揽镜自顾夜不眠</title>
    <script src="../js/vue.js"></script>
  </head>

  <body>
    <div id="app">
      姓：<input type="text" v-model="firstName" /><br />
      名：<input type="text" v-model="lastName" /><br />
      姓名：<span>{{fullName}}</span>
    </div>

    <script>
      Vue.config.productionTip = false;
      new Vue({
        el: '#app',
        data: {
          firstName: '小',
          lastName: '丽丽',
          fullName: '小-丽丽',
        },
        watch: {
          firstName(newValue) {
            setTimeout(() => {
              this.fullName = newValue + '-' + this.lastName;
            }, 1000);
          },
          lastName(newValue) {
            this.fullName = this.firstName + '-' + newValue;
          },
        },
      });
    </script>
  </body>
</html>
