<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>玉树临风美少年，揽镜自顾夜不眠</title>
    <script src="../js/vue.js"></script>
    <style>
      button{
        margin-bottom: 10px
      }
    </style>
  </head>

  <body>
    <div id="app">
      <h1>学生信息</h1>
      <button @click="student.age++">年龄+1岁</button><br/>
      <button @click="addSex">添加性别属性，默认值：男</button><br/>
      <button @click="student.sex = '未知' ">修改性别</button><br/>
      <button @click="addFriend">在列表首位添加一个朋友</button><br/>
      <button @click="updateFirstFriendName">修改第一个朋友的名字为：张三</button><br/>
      <button @click="addHobby">添加一个爱好</button><br/>
      <button @click="updateHobby">修改第一个爱好为：开车</button><br/>
      <button @click="removeHappy">过滤掉爱好中的打游戏</button><br/>


      <h2>学生姓名：{{student.name}}</h2>
      <h2>学生年龄：{{student.age}}</h2>
      <h2 v-if="student.sex">学生性别：{{student.sex}}</h2>
      <h2>爱好</h2>
      </ul>
      <ul>
        <li v-for="(h,index) in student.hobby" :key="index">{{h}}</li>
      </ul>
      <h2>朋友们</h2>
      <ul>
        <li v-for="(f,index) in student.friends" :key="index">
          {{f.name}}---{{f.age}}
        </li>
      </ul>
    </div>

    <script>
      Vue.config.productionTip = false;
      const vm = new Vue({
        el: '#app',
        data: {
          school: {
            name: '尚硅谷',
            address: '北京',
          },
          student: {
            name: 'tom',
            age: 18,
            hobby: ['打游戏','学习', '喝酒', '看美女'],
            friends: [{ name: 'july', age: 35 }],
          },
        },
        methods: {
          addSex() {
           this.$set(this.student,'sex','男')
        },
        addFriend(){
          this.student.friends.unshift({name:'mei',age:'20'})
        },
        updateFirstFriendName(){
          this.student.friends[0].name = '张三'
        },
        addHobby(){
          this.student.hobby.unshift('健身')
        },
        updateHobby(){
          //this.student.hobby.splice(0,1,'开车')
          //Vue.set(this.student.hobby,0,'开车')
          this.$set(this.student.hobby,0,'开车')
        },
        removeHappy(){
          this.student.hobby = this.student.hobby.filter((h)=>{
            return h !== '打游戏'
          })
        }
      }
      });
    </script>
  </body>
</html>
